<link rel="stylesheet" href="{{ themePath }}/antd.css">
<link rel="stylesheet" href="{{ themePath }}/antd-theme.css">
<style>
    .ant-tabs-nav-wrap, .ant-tabs-nav {
        max-height: 40px;
    }
    .ant-tabs-tab {
        left: 15px;
    }
</style>
<div class="ant-tabs ant-tabs-top ant-tabs-small ant-tabs-line">
    <div role="tablist" class="ant-tabs-nav">
        <div class="ant-tabs-nav-wrap">
            <div class="ant-tabs-nav-list">
                <div class="ant-tabs-ink-bar ant-tabs-ink-bar-animated"
                     style="display: block; transform: translate3d(0px, 0px, 0px); width: 66px;"></div>
            </div>
        </div>
        <div class="ant-tabs-nav-operations ant-tabs-nav-operations-hidden"><button type="button" class="ant-tabs-nav-more" tabindex="-1" aria-hidden="true" aria-haspopup="listbox" aria-controls="rc-tabs-0-more-popup" id="rc-tabs-0-more" aria-expanded="false" style="visibility: hidden; order: 1;"><span role="img" aria-label="ellipsis" class="anticon anticon-ellipsis"><svg viewBox="64 64 896 896" focusable="false" data-icon="ellipsis" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M176 511a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0z"></path></svg></span></button></div>
    </div>
    <div class="ant-tabs-content-holder">
        <div class="ant-tabs-content ant-tabs-content-animated ant-tabs-top-content" style="margin-left: 0%;"></div>
    </div>
</div>